<div class="tudo">
    <div class="topo">
      <h1 class="titulo">T O D O</h1>
      <a href="">TEMA</a>
    </div>
  
    <div class="text">
      <input type="text" [(ngModel)]="tarefa" (keyup.enter)="addTarefa()">
      <button (click)="addTarefa()">Adicionar</button>
    </div>
  
    <div class="tarefas">
      
      <ul *ngIf="filtro === 'Fazer'; else feitosList">
        <h2>Para fazer:</h2>
        <li *ngFor="let itemToDo of itemsToDo; let i = index">
          <p>{{i + 1}} - {{ itemToDo }}</p>
          <img src="../../../assets/images/simbolo-x.png" alt="x" (click)="removeTarefa(i, itemToDo)">
        </li>
      </ul>
  
      <ng-template #feitosList>
        <ul *ngIf="filtro === 'Feitos'">
          <h2>Feitos:</h2>
          <li *ngFor="let itemFeito of itemsFeitos">
            {{ itemFeito }}
            
          </li>
          
        </ul>
  
        <ul *ngIf="filtro === 'Todos'">
          <h2>Para fazer:</h2>
          <li *ngFor="let itemToDo of itemsToDo; let i = index">
            {{ itemToDo }}
            <img src="../../../assets/images/simbolo-x.png" alt="x" (click)="removeTarefa(i, itemToDo)">
          </li>
          <h2>Feitos:</h2>
          <li *ngFor="let itemFeito of itemsFeitos">{{ itemFeito }}</li>
        </ul>
      </ng-template>
  
      
  
      <div class="links">
        <p>{{ itemsToDo.length }} itens restantes</p>
        <div class="filtros">
          <a (click)="setFiltro('Todos')">Todos</a>
          <a (click)="setFiltro('Feitos')">Feitos</a>
          <a (click)="setFiltro('Fazer')">Fazer</a>  
        </div>
        <button (click)="removeFeitos()">Limpar Feitos</button>
      </div>
      </div>
  </div>
  