*{
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

.imagem{
    background-image: url('assets\images\bg-desktop-dark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 38vh; /* Altura da div */
    position: relative;
}

.color-bg{
    background-color: hsl(235, 21%, 11%);
    height: 62vh;
}
